<!DOCTYPE html>
<html>
	<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
   </head>
  <body>
   <nav>
  <ul>
    <li>
      home
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      products
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      services
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      contact
      <span></span><span></span><span></span><span></span>
    </li>
  </ul>
	</nav>
  </body>
</html>