<!DOCTYPE html>
<html>
	<head>
    <title>Flask app</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
   </head>
  <body>
   {% extends "template.html" %}
   {% block content %}
	<nav>
  <ul>
    <li>
	<!--
		<form method="post" action="/">
			<input type="submit" value="GIVE ME A DAD JOKE!!" name="action1"/>
		</form>
	!-->
	
		GIVE ME A DAD JOKE !!
      <span></span><span></span><span></span><span></span>
    </li>
  </ul>
	</nav>
   {% endblock %}
  </body>
</html>